body {
    font-family: 'Montserrat';
}

h1 {
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

/* Navigation Bar */
.navbar {
    padding-inline: 0;
}

.navbar-main {
    padding: 0 0 4.5rem;
}

.nav-item {
    padding-inline: 20px;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: light;
}

.navbar-brand {
    font-family: 'ubuntu';
    font-weight: 700;
    font-size: 2.5rem;
    margin-left: 0;
}

/* Top Container */

#title {
    background-color: #ff4c68;
    color: #fff;
}

.top-container {
    padding: 3% 15% 7%;
}

.btn-download-title {
    margin: 5% 3% 5% 0;
}

.iphone-mockup {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

/* Features Container */

#features {
    background-color: #fff;
    padding: 6% 10%;
    position: relative;
}

.feature-col {
    text-align: center;
    margin-block: 5%;
}

.feature-col i {
    color: #ef8172;
    font-size: 4.5rem;
    margin-block: 5%;
}

.feature-col i:hover {
    color: #ff4c68;
}

.feature-col h3 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 1.5rem;
}

.feature-col p {
    color: #8f8f8f;
    width: 70%;
    margin-inline: auto;
}

/* Testimonials Container */

#testimonials {
    background-color: #ef8172;
    color: #fff;
    text-align: center;
}

.testimonials-container {
    padding: 7% 15%;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.testimonial-text {
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.5;
}

/* Press Section */

#press {
    background-color: #ef8172;
    text-align: center;
    padding-block-end: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
    padding: 7% 5%;
    text-align: center;
}

.pricing-header {
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.5;
}

.pricing-description {
    color: #8f8f8f;
}

.card-deck {
    padding-block: 3%;
}

.card {
    padding-inline: 0;
    margin-inline: 1%;
}

.pricing-plan {
    font-weight: 600;
}

.card-body h2 {
    margin-block-end: 4%;
}

.price {
    font-weight: 600;
    font-size: 120%;
}

/* CTA Section */

#cta {
    text-align: center;
    background-color: #ff4c68;
    padding: 8% 15%;
}

.cta-description {
    color: white;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 1.5;
    padding-block-end: 5%;
}

.btn-download-cta {
    margin-inline: 1.5%;
}

/* Footer Section */

#footer {
    text-align: center;
    background-color: #fff;
    padding-block: 5%;
}

.contact-footer {
    margin-block: 2% 1.5%;
}

.credits {
    color: #7c7c7c;
    font-family: 'Montserrat';
}
