body {
    font-family: 'Montserrat';
}

/* Navigation Bar */

.navbar-main {
    padding: 0 0 4.5rem;
}

.nav-item {
    padding-inline: 20px;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: light;
}

.navbar-brand {
    font-family: 'ubuntu';
    font-weight: 700;
    font-size: 2.5rem;
    margin-left: 0;
}

/* Top Container */

#title {
    background-color: #ff4c68;
    color: white;
}

.top-container {
    padding: 3% 15%;
}

h1 {
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

.btn-download {
    margin: 5% 3% 5% 0;
}

.iphone-mockup {
    width: 60%;
    transform: rotate(25deg);
}

/* Features Container */

#features {
    background-color: white;
    padding-block: 5rem;
}

.feature-col {
    text-align: center;
    margin-block: 5%;
}

.feature-col i {
    color: #ef8172;
    font-size: 4.5rem;
    margin-block: 5%;
}

.feature-col i:hover {
    color: #ff4c68;
}

.feature-col h3 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 1.5rem;
}

.feature-col p {
    color: #8f8f8f;
    width: 50%;
    margin-inline: auto;
}
